.no-title-slide h2 {
    display: none;
}

.smaller-95 {
    font-size: .95em;
}

​​.smaller-90 {
    font-size: .90em;
}

.smaller-85 {
    font-size: .85em;
}

.smaller-80 {
    font-size: .80em;
}

.smaller-75 {
    font-size: .75em;
}

.smaller-70 {
    font-size: .70em;
}

.smaller-65 {
    font-size: .65em;
}

.smaller-60 {
    font-size: .60em;
}

.hide h2 {
    display: none;
}

.hide h3 {
    display: none;
}

.exercise {

    h2 {
        display: none;
    }

    h3 {
        display: none;
    }

    .slide-background-content {
        background-color: lightblue;
    }

}

.question h2 {
    display: none;
}

.question h3 {
    display: none;
}

.explanation {
    font-style: italic;
    color: dimgrey;
}