.no-title-slide h2 {
    display: none;
}

​​ .smaller-90 {
    font-size: .90em;
}

.smaller-80 {
    font-size: .80em;
}

.smaller-70 {
    font-size: .70em;
}

.smaller-60 {
    font-size: .60em;
}

.hide h2 {
    display: none;
}

.hide h3 {
    display: none;
}