/* css styles */

.hide-title h2 {
    display: none;
  }

.test img {
    margin: 0;
    padding: 0;
  }


.bam {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    height: 100%;
  }

.bigbam {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    height: 100%;
  }