.mystyle table {
    width: 100%;
}

.mystyle th {
    text-align: left !important;
}

.mystyle td {
    text-align: left !important;
    padding: 8px;
}

.mystyle th:nth-child(1),
.mystyle td:nth-child(1) {
    width: 140px;
}

.mystyle th:nth-child(3),
.mystyle td:nth-child(3) {
    width: 100px;
}

.mystyle th:nth-child(4),
.mystyle td:nth-child(4) {
    width: 250px;
}


.presentation-small table {
    font-size: .5em
}

.presentation-medium table {
    font-size: .75em
}